.hero-section {
  width: 100svw;
  margin: 5.5rem calc(-50svw - -50%);
  background-color: #eee;
  box-sizing: border-box;
}

.hero-section .hero-container {
  display: flex;
  max-width: 80rem;
  padding: 4rem;
  box-sizing: border-box;
  margin: auto;
  gap: 4rem;
}

.hero-container .info {
  order: 1;
  display: grid;
  align-content: center;
}

.info button {
  border: 0;
  width: fit-content;
  background-color: var(--blue-color);
  color: #fff;
  height: 4.5rem;
  padding: 0 2.2rem;
  box-sizing: border-box;
  font-size: var(--paragraph-size);
  transition: 300ms;
  font-weight: bold;
}

.info button:hover {
  filter: brightness(90%);
}


.info p {
  margin-bottom: .5rem;
  font-size: var(--paragraph-size);
  line-height: 1.5;
  max-width: 42ch;
  color: #777;
}

.info h3 span {
  font-family: arial, Sans-Serif;
  font-size: var(--h3-size);
  color: var(--blue-color);
  letter-spacing: .1rem;
  font-weight: bold;
}

.info .buttons {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
}

.hero-container .hero-image {
  display: flex;
  justify-content: end;
  align-items: center;
  order: 2;
}

.hero-image img {
  width: clamp(28rem, 32vw, 32rem);
}

@media (width <= 76.8rem) {
  .hero-section .hero-container .hero-image {
    align-items: start;
    justify-content: center;
    order: 2;
  }
  
  .hero-container .info {
    order: 1;
  }
}

@media (width <= 42.8rem) {
  .hero-section .hero-container {
    flex-direction: column;
    height: 100svh;
    justify-content: center;
  }

  .hero-image img {
    width: max(34rem, 10rem);
  }

  .hero-section .hero-container .info {
    order: 2;
  }

  .hero-section .hero-container .hero-image {
    order: 1;
  }
}