.hero-section {
  width: 100svw;
  height: 100svh;
  margin: 0 calc(-50svw - -50%);
  background-color: #ffffff;
  box-sizing: border-box;
  display: grid;
  align-items: center;
}

.hero-section .hero-container {
  display: flex;
  padding: clamp(2rem, 4svw, 4rem);
  max-width: var(--container-max-width);
  box-sizing: border-box;
  justify-content: space-between;
  margin: auto;
  gap: 4rem;
}

.hero-container .info {
  order: 1;
  display: grid;
  align-content: center;
}

.hero-container .info button {
  border: 0;
  width: fit-content;
  background-color: var(--blue-color);
  color: #fff;
  height: 4.5rem;
  padding: 0 2.2rem;
  box-sizing: border-box;
  font-size: var(--paragraph-size);
  transition: 300ms;
  font-weight: bold;
}

.hero-container .info button:hover {
  filter: brightness(90%);
}


.hero-container .info p {
  font-size: var(--paragraph-size);
  line-height: 1.5;
  color: #777;
}

.hero-container .info h3 span {
  font-family: arial, Sans-Serif;
  font-size: var(--h3-size);
  color: var(--blue-color);
  letter-spacing: .1rem;
  font-weight: bold;
}

.hero-container .info .buttons {
  display: flex;
  column-gap: 2rem;
  margin-top: 2rem;
}

.hero-container .hero-image {
  display: flex;
  justify-content: end;
  align-items: center;
  order: 2;
}

.hero-image img {
  width: clamp(28rem, 32vw, 32rem);
}

@media (width <= 76.8rem) {
  .hero-section .hero-container .hero-image {
    align-items: start;
    justify-content: center;
    order: 2;
  }
  
  .hero-container .info {
    order: 1;
  }
}

@media (width <= 42.8rem) {
  .hero-section .hero-container {
    flex-direction: column;
    justify-content: center;
  }

  .hero-image img {
    max-width: 24rem;
    min-width: 10rem;
  }
  
  .hero-section .hero-container .info {
    order: 2;
  }
  
  .hero-section .hero-container .hero-image {
    order: 1;
  }
}


@media (width <= 35.6rem) {
  .hero-image img {
    max-width: 18rem;
    min-width: 8rem;
  }
}