.our-products {
  overflow-x: auto;
  width: calc(100% - (var(--padding-size) * 2));
  text-align: center;
  box-sizing: border-box;
  margin-bottom: var(--margin-bottom);
}

.our-products-title {
  display: grid;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0 var(--padding-size);
  box-sizing: border-box;
  margin-bottom: var(--gap-size);
}

.our-products-title h2 {
  font-size: var(--h2-size);
  line-height: 1.1;
  margin-bottom: 0.2rem;
  font-weight: bold;
  color: #444;
}

.our-products .card-list {
  display: grid;
  grid-auto-columns: 15rem;
  column-gap: 2rem;
  width: 100%;
  grid-auto-flow: column;
  box-sizing: border-box;
}

.card-list .card {
  display: grid;
  box-sizing: border-box;
  row-gap: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  grid-template-rows: auto 1fr;
}

.card-list .card-image {
  width: 100%;
  border-radius: 1rem;
}

.card-info {
  text-align: left;
  display: grid;
  align-content: start;
  height: 100%;
  width: 100%;
}

.card-info .title {
  color: #555;
}

.card-info .price {
  font-size: var(--paragraph-size);
  color: var(--blue-color);
  font-weight: bold;
  font-family: arial, Sans-Serif;
  letter-spacing: 0.1rem;
}

.categories .selected {
  color: #555;
}

.error-msg {
  color: red;
}

@media (width < 438px) {
  .our-products .card-list {
    grid-auto-columns: 13rem;
  }
}