.our-product {
  width: 100%;
  text-align: center;
}

.our-product .categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.our-product .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
  box-sizing: border-box;
  margin-top: 2rem;
}

.card-list .card {
  display: grid;
  box-sizing: border-box;
  row-gap: 2rem;
  grid-template-rows: 17.5rem auto;
  align-content: center;
}

.card-info {
  text-align: left;
  display: grid;
}

.card-info .title {
  color: #555;
}

.card-info .price {
  font-size: calc(var(--paragraph-size) + .2rem);
  color: var(--blue-color);
  font-weight: bold;
  font-style: italic;
  font-family: Times New Roman, Sans-Serif;
  letter-spacing: .15rem;
}

.categories .selected {
  color: #555;
}

.error-msg {
  color: red;
}
